<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/fundCenter">Fund Center</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/performance">Performance</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/dividends">Dividends</a></li>
    <li role="presentation" class="active"><a href="#">Breakdown</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/mirrors">Life & Pension Mirrors</a></li>
</ul>

<br>

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div id="linechart_holdings" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div id="linechart_asset" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div id="linechart_sectors" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div id="linechart_regions" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>