<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/fundCenter">Fund Center</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/performance">Performance</a></li>
    <li role="presentation" class="active"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/dividends">Dividends</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/breakdown">Breakdown</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/mirrors">Life & Pension Mirrors</a></li>
</ul>

<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ fund.content.name }}</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Dividend type</th>
            <th>Dividend amount</th>
            <th>Tax indicator</th>
            <th>Ex dividend date</th>
            <th>Payment date</th>
        </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.type }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.tax }}</td>
                    <td>{{ item.dividendDate|date('F j, Y') }}</td>
                    <td>{{ item.paymentDate|date('F j, Y') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>