<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="#">Fund Center</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/performance">Performance</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/dividends">Dividends</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/breakdown">Breakdown</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/mirrors">Life & Pension Mirrors</a></li>
</ul>

<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">What is the Fund’s objective?</h3>
    </div>
    <div class="panel-body">
        {{ fund.content.objective }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Investment Details</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Charges</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-md-2">Initial</td>
            <td class="col-md-2">{{ fund.investment.cInitial }} %</td>
        </tr>
        <tr>
            <td class="col-md-2">Annual</td>
            <td class="col-md-2">{{ fund.investment.annual }} %</td>
        </tr>
        <tr>
            <td class="col-md-2">OCF</td>
            <td class="col-md-2">{{ fund.investment.ocf }} %</td>
        </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Minimum Investment</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-md-2">Initial</td>
            <td class="col-md-2">£ {{ fund.investment.mInitial }}</td>
        </tr>
        <tr>
            <td class="col-md-2">Additional</td>
            <td class="col-md-2">£ {{ fund.investment.additional }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Prices</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Unit type</th>
            <th>Currency</th>
            <th>Offer</th>
            <th>Date</th>
            <th>Yield</th>
            <th>Citicode</th>
            <th>SEDOL</th>
            <th>ISIN</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="col-md-2">{{ fund.content.name }}</td>
            <td class="col-md-2">{{ fund.prices.type }}</td>
            <td class="col-md-2">{{ fund.prices.currency }}</td>
            <td class="col-md-2">{{ fund.prices.offer }}</td>
            <td class="col-md-2">{{ fund.prices.date|date('F j, Y') }}</td>
            <td class="col-md-2">{{ fund.prices.yield }}</td>
            <td class="col-md-2">{{ fund.prices.citicode }}</td>
            <td class="col-md-2">{{ fund.prices.cedol }}</td>
            <td class="col-md-2">{{ fund.prices.icin }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Additional Information</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tbody>
                <tr>
                    <td><strong>Legal Structure:</strong></td>
                    <td >{{ fund.information.legalStructure }}</td>
                </tr>
                <tr>
                    <td><strong>Own ISA wrapper:</strong></td>
                    <td>{{ fund.information.isaOwn }}</td>
                </tr>
                <tr>
                    <td><strong>Trustee / Depositary:</strong></td>
                    <td >{{ fund.information.trustee }}</td>
                </tr>
                <tr>
                    <td><strong>Registrar:</strong></td>
                    <td>{{ fund.information.registrar }}</td>
                </tr>
                <tr>
                    <td><strong>Multi-Manager:</strong></td>
                    <td >{{ fund.information.multiManager }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tbody>
                <tr>
                    <td><strong>Dividend policy:</strong></td>
                    <td >{{ fund.information.dividendPolicy }}</td>
                </tr>
                <tr>
                    <td><strong>Fund size:</strong></td>
                    <td>{{ fund.information.fundSize }}</td>
                </tr>
                <tr>
                    <td><strong>Unit Launch:</strong></td>
                    <td >{{ fund.information.unitLaunch|date('F j, Y') }}</td>
                </tr>
                <tr>
                    <td><strong>Fund Launch:</strong></td>
                    <td>{{ fund.information.fundLaunch|date('F j, Y') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tbody>
                <tr>
                    <td><strong>Savings plan:</strong></td>
                    <td >{{ fund.information.savingsPlan }}</td>
                </tr>
                <tr>
                    <td><strong>Pricing times:</strong></td>
                    <td>{{ fund.information.pricingTimes }}</td>
                </tr>
                <tr>
                    <td><strong>Dealing times:</strong></td>
                    <td >{{ fund.information.dividendPolicy }}</td>
                </tr>
                <tr>
                    <td><strong>Dealing frequency:</strong></td>
                    <td>{{ fund.information.dealingFrequency }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
