<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/fundCenter">Fund Center</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/performance">Performance</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/dividends">Dividends</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/breakdown">Breakdown</a></li>
    <li role="presentation" class="active" ><a href="#">Life & Pension Mirrors</a></li>
</ul>

<br>

{% if data is not empty %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ fund.content.name }} as a life fund</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Fund</th>
            <th>Annual Charge</th>
            <th>Dividend Date</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data['life'] %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.annualCharge }}</td>
                <td>{{ item.dividendDate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ fund.content.name }} as a pension fund</h3>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Fund</th>
            <th>Annual Charge</th>
            <th>Dividend Date</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data['pension'] %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.annualCharge }}</td>
                <td>{{ item.dividendDate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}