<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/fundCenter">Fund Center</a></li>
    <li role="presentation" class="active"><a href="#">Performance</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/dividends">Dividends</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/breakdown">Breakdown</a></li>
    <li role="presentation"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}/mirrors">Life & Pension Mirrors</a></li>
</ul>

<br>

<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div id="linechart0" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div id="linechart1" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div id="linechart2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div>


