{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bundles/app/css/login.css') }}" type="text/css" media="all">#}
{% endblock %}

{% block content %}
    {{ block('fos_user_content') }}
{% endblock %}
