<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
        <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" >
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body id="blog">

{% block body %}
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('app_home') }}">Funds</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <a class="navbar-brand" href="{{ path('app_home') }}">Home</a>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle navbar-brand"
                               data-toggle="dropdown" role="button" aria-expanded="false"> {{ app.user.email }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('fos_user_profile_edit') }}">My profile</a></li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li><a href="{{ path('funds_admin_homepage') }}">Admin panel</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <a class="navbar-brand" href="{{ path('fos_user_security_login') }}" >Login</a>
                        <a class="navbar-brand" href="{{ path('fos_user_registration_register') }}" >Register</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p style="text-align: center"></p>
            </div>
        </div>
    </footer>

    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% endblock %}
</div>
</body>
</html>