{% extends '::base.html.twig' %}

 {% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 {% endblock %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('funds-notice') %}
        <div class="alert alert-{{ flashMessage.status }}" role="alert">
            {{ flashMessage.message }}
            <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
        </div>
    {% endfor %}

    <div class="pull-right">
        <form action="{{ path('app_home_search') }}" class="form-inline"
              method="post" {{ form_enctype(form) }} class="funds">

            <div class="controls form-inline">
                {{ form_errors(form.search) }}
                {{ form_label(form.search) }}
                {{ form_widget(form.search) }}
            </div>

            {{ form_rest(form) }}

        </form>
    </div>

    {% if pagination.getTotalItemCount > 0 %}

         {% for fund in pagination %}
        <article class="post">
            <h2> <a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}"> {{ fund.content.name }} </a></h2>

            <p><span class="glyphicon glyphicon-time"></span> {{ fund.createdAt|date('l, F j, Y') }}</p>
            <div class="snippet">
                <p>{{ fund.content.objective }}</p>
                <a class="btn btn-primary" href="{{ path('app_home_show_fund', {'id' : fund.id}) }}">
                    Show More<span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </article>
        <br>
        <hr>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>There are no funds</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var $autocompleter = $('#search_search');
            var $configs = [];

            $configs.source = function(request, response) {
                $.getJSON('/ajax_search/', {
                    term: request.term
                }, response);
            };
            $configs.multiple = true;

            $autocompleter.autocomplete($configs);

        });
    </script>

{% endblock %}
