{% extends '::base.html.twig' %}

{% block title %}{{fund.content.name}}{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('funds-notice') %}
        <div class="alert alert-{{ flashMessage.status }}" role="alert">
            {{ flashMessage.message }}
            <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
        </div>
    {% endfor %}

    <ol class="breadcrumb">
        <li><a href="{{ path('app_home') }}">Funds</a></li>
        <li class="active">{{ fund.content.name }}</a></li>
    </ol>

    <div class="page-header">
        <h2>{{ fund.content.name }} - {{ fund.code }}</h2>

        {% if basket == 'add' %}
            <a href="{{ path('app_home_add_fund', {'id' : fund.id}) }}" title="Add to basket" class="button">
                <span class="glyphicon glyphicon-shopping-cart"></span> Add this fund to basket</a>
        {% else %}
            <a href="{{ path('app_home_delete_fund', {'id' : fund.id}) }}" title="Delete this fund from basket" class="button">
                <span class="glyphicon glyphicon-trash"></span> Delete this fund from basket</a>
        {% endif %}

    </div>
    {% include 'AppBundle:Home:ShowTabs/' ~ tab ~'.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
    <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
    <script type="text/javascript">
        {% if data.0.chart is defined %}
        {{ chart(data.0.chart) }}
        {% endif %}
        {% if data.1.chart is defined %}
        {{ chart(data.1.chart) }}
        {% endif %}
        {% if data.2.chart is defined %}
        {{ chart(data.2.chart) }}
        {% endif %}

        {% if data['holdings']['chart'] is defined %}
            {{ chart(data['holdings']['chart']) }}
        {% endif %}
        {% if data['asset']['chart'] is defined %}
            {{ chart(data['asset']['chart']) }}
        {% endif %}
        {% if data['sectors']['chart'] is defined %}
            {{ chart(data['sectors']['chart']) }}
        {% endif %}
        {% if data['regions']['chart'] is defined %}
            {{ chart(data['regions']['chart']) }}
        {% endif %}
    </script>

{% endblock %}