{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'AppBundle:Form:fields.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                </div>
                <div class="panel-body">

                    <form action="{{ path('fos_user_registration_register') }}"
                            {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

                        {{ form_errors(form) }}
                        {{ form_widget(form) }}
                        {{ form_rest(form) }}

                        {#{{ form_javascript(form) }}#}

                        <div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>