{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/admin.css') }}" >
{% endblock %}

{% block title %}{{ id ? 'Edit Fund with ID - ' ~ id : 'Create New Fund' }}{% endblock %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">{{id ? 'Edit Fund with ID -' ~ id : 'Create New Fund'}}
        <div class="pull-right">
            {% if id is not null %}
            <a class="btn-sm btn-danger" href="{{ path('funds_admin_delete_fund',{'id' : id }) }}"
               role="button" onclick="return confirm('Are you sure you want to delete this item?');">Delete this fund</a>
            {% endif %}
        </div>
    </div>
    <div class="panel-body">
        <form action=" {% if id is null %}
                    {{ path('funds_admin_create_update_fund') }}
                {% else %}
                    {{ path('funds_admin_create_update_fund', {'id' : id } )}}
                {% endif %}"
              method="post" {{ form_enctype(form) }} class="news">

            <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                    <li class="active" role="presentation">
                        <a id="content-tab" aria-expanded="true" aria-controls="content" data-toggle="tab" role="tab" href="#content">Content</a>
                    </li>
                    <li class="" role="presentation">
                        <a id="investment-tab" aria-controls="investment" data-toggle="tab" role="tab" href="#investement" aria-expanded="false">Investment</a>
                    </li>
                    <li class="" role="presentation">
                        <a id="prices-tab" aria-controls="prices" data-toggle="tab" role="tab" href="#prices" aria-expanded="false">Prices</a>
                    </li>
                    <li class="" role="presentation">
                        <a id="information-tab" aria-controls="information" data-toggle="tab" role="tab" href="#information" aria-expanded="false">Information</a>
                    </li>
                    <li class="" role="presentation">
                        <a id="dividends-tab" aria-controls="dividends" data-toggle="tab" role="tab" href="#dividends" aria-expanded="false">Dividends</a>
                    </li>
                </ul>
            </div>

            <div id="myTabContent" class="tab-content">
                <div id="content" class="tab-pane fade active in" aria-labelledby="content-tab" role="tabpanel">
                    {{ form_errors(form.code) }}
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code) }}

                    {{ form_errors(form.content) }}
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                </div>
                <div id="investement" class="tab-pane fade" aria-labelledby="investement-tab" role="tabpanel">
                    {{ form_errors(form.investment) }}
                    {{ form_label(form.investment) }}
                    {{ form_widget(form.investment) }}
                </div>
                <div id="information" class="tab-pane fade" aria-labelledby="prices-tab" role="tabpanel">
                    {{ form_errors(form.information) }}
                    {{ form_label(form.information) }}
                    {{ form_widget(form.information) }}
                </div>
                <div id="prices" class="tab-pane fade" aria-labelledby="prices-tab" role="tabpanel">
                    {{ form_errors(form.prices) }}
                    {{ form_label(form.prices) }}
                    {{ form_widget(form.prices) }}
                </div>

                <div id="dividends" class="tab-pane fade" aria-labelledby="prices-tab" role="dividends">
                    <ul class="dividends" data-prototype="{{ form_widget(form.dividends.vars.prototype) | e }}">
                        {% for dividend in form.dividends %}
                            <li>{{form_row(dividend) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

                {{ form_rest(form) }}

                {#{{ tinymce_init() }}#}

            <input type="submit" value="{{id ? 'Edit' : 'Add'}}" class="btn btn-default btn-lg" style="margin-top: 10px">
        </form>
    </div>
</div>
    <nav>
        <ul class="pager">
            <li class="previous"><a href="{{ path('funds_admin_homepage') }}"><span aria-hidden="true">&larr;</span>Back</a></li>
        </ul>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    jQuery(document).ready(function() {
        var collectionHolder = $('ul.dividends');
        var $addLink = $('<a href="#" class="add_participant_link">Add new dividends</a>');
        var $newLinkLi = $('<li></li>').append($addLink);
        collectionHolder.append($newLinkLi);
        $addLink.on('click', function(e) {
            e.preventDefault();
            addParticipantForm(collectionHolder, $newLinkLi);
        });
    });

    function addParticipantForm(collectionHolder, $newLinkLi) {
        var prototype = collectionHolder.attr('data-prototype');

        var newForm = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);

        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
</script>

{% endblock %}