{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/admin.css') }}" >
{% endblock %}

{% block title %}Edit news with ID - {{ id }}{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">Edit News ID - {{ id }}
            <div class="pull-right">
                <a class="btn-sm btn-danger" href="{{ path('funds_admin_delete_news',{'id' : id }) }}"
                   role="button" onclick="return confirm('Are you sure you want to delete this item?');">Delete this news</a>
            </div>
        </div>
        <div class="panel-body">
            <form action="{{ path('funds_admin_create_update_news', {'id' : id }) }}"
                  method="post" {{ form_enctype(form) }} class="news">

                {{ form_errors(form.url) }}
                {{ form_label(form.url) }}
                {{ form_widget(form.url) }}

                {{ form_errors(form.content) }}
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}

                {{ form_rest(form) }}

                {{ tinymce_init() }}

                <input type="submit" value="{{'Edit'}}" class="btn btn-default btn-lg" style="margin-top: 10px">
            </form>
        </div>
    </div>
    <nav>
        <ul class="pager">
            <li class="previous"><a href="{{ path('funds_admin_news') }}"><span aria-hidden="true">&larr;</span>Back</a></li>
        </ul>
    </nav>
{% endblock %}