{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/admin.css') }}" >
{% endblock %}

{% block title %}Funds{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('funds-notice') %}
        <div class="alert alert-{{ flashMessage.status }}" role="alert">
            {{ flashMessage.message }}
            <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
        </div>
    {% endfor %}

    <ol class="breadcrumb">
        <li class="active">Funds</li>
        <li><a href="{{ path('funds_admin_news') }}">News</a></li>
        <li><a href="{{ path('funds_admin_users') }}">Users</a></li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{{ path('funds_admin_create_update_fund') }}" class="form-inline"
                  method="post" {{ form_enctype(form) }} class="funds">

                {{ form_errors(form.code) }}

                <div class="form-group">
                    {{ form_label(form.code) }}
                    {{ form_widget(form.code) }}
                </div>

                {{ form_rest(form) }}

                <input type="submit" value="{{'Add'}}" class="btn btn-default btn-lg">
            </form>
        </div>
    </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">Funds

                {#<div class="pull-right">#}
                <div class="dropdown nav navbar-nav pull-right">
                    <a href="{{ path('funds_admin_create_update_fund', {'n' : true}) }}">
                    <button class="btn btn-default " type="button">Create fund</button></a>

                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Parsing
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Update Rating</li>
                        <li><a href="{{ path('funds_parsing_update_codes') }}">GO</a></li>
                        <li class="dropdown-header">Parse exist funds</li>
                        <li><a href="{{ path('funds_parsing_do', {'all' : false}) }}">NEW</a></li>
                        <li><a href="{{ path('funds_parsing_do', {'all' : true}) }}">ALL</a></li>
                    </ul>
                </div>
            </div>

    {% if pagination.getTotalItemCount > 0 %}

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'f.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Code', 'f.code') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Update', 'f.updatedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Type', 'f.our') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Parsed', 'f.parsed') }}</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {% for fund in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('funds_admin_create_update_fund', {'id' : fund.id}) }}">{{ fund.id }}</a></th>
                        <td>{{ fund.code }}</td>
                        <td>{{ fund.updatedAt | date('l, F j, Y') }}</td>
                        <td>{{ parseType(fund) }}</td>
                        <td>{{ parseStatus(fund) }}</td>
                        <td>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <a href="{{ path('funds_admin_create_update_fund', {'id' : fund.id}) }}" title="Edit" class="button">
                                        <span class="glyphicon glyphicon-pencil"></span></a>
                                </div>

                                <a href="{{ path('funds_admin_delete_fund',{'id' : fund.id }) }}" title="Delete" class="button"
                                   onclick="return confirm('Are you sure you want to delete this item?');">
                                    <span class="glyphicon glyphicon-trash"></span></a></div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
    {% endif %}
        </div>
{% endblock %}
