{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/admin.css') }}" >
{% endblock %}

{% block title %}News{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('pusher-notice') %}
        <div class="alert alert-{{ flashMessage.status }}" role="alert">
            {{ flashMessage.message }}
            <a href="#" class="close" onclick="$('.alert').hide()">&times;</a>
        </div>
    {% endfor %}

    <ol class="breadcrumb">
        <li><a href="{{ path('funds_admin_homepage') }}">Funds</a></li>
        <li class="active">News</li>
        <li><a href="{{ path('funds_admin_users') }}">Users</a></li>
    </ol>

    <div class="panel panel-default">
        <div class="panel-heading">Add News</div>
        <div class="panel-body">
            <form action="{{ path('funds_admin_create_update_news') }}" class="form-inline"
                  method="post" {{ form_enctype(form) }} class="news">

                {{ form_errors(form.url) }}

                <div class="form-group">
                    {{ form_label(form.url) }}
                    {{ form_widget(form.url) }}
                </div>

                {{ form_rest(form) }}

                <input type="submit" value="{{'Add'}}" class="btn btn-default btn-lg">
            </form>
        </div>
    </div>

    {% if pagination.getTotalItemCount > 0 %}

        <div class="panel panel-default">
            <div class="panel-heading">News
                <div class="pull-right">
                    <a class="btn-sm btn-primary" href="{{ path('funds_news_parsing_do')}}"
                       role="button" onclick="return confirm('Are you sure to run parser?');">Parse News</a>
                    {#<a class="btn-sm btn-primary" href="{{ path('pusher_push')}}"#}
                       {#role="button" onclick="return confirm('Are you sure to push news?');">Send email</a>#}
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'n.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Position', 'n.position') }}</th>
                    <th>URL</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Parsed', 'n.parsed') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Sending', 'n.sending') }}</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {% for news in pagination %}
                    <tr>
                        <th scope="row"><a href="{{ path('funds_admin_create_update_news', {'id' : news.id}) }}">{{ news.id }}</a></th>
                        <td>
                            {{ createUpDown(news) }}
                            {{ news.position + 1 }}
                        </td>
                        <td>{{ news.url }}</td>

                        <td>{{ parseNewsStatus(news) }}</td>
                        <td>{{ sendingStatus(news) }}</td>
                        <td>
                            <div class="row">
                                <div class="col-xs-4 text-right">
                                    <a href="{{ path('funds_admin_create_update_news', {'id' : news.id}) }}" title="Edit" class="button">
                                        <span class="glyphicon glyphicon-pencil"></span></a>
                                </div>

                                <a href="{{ path('funds_admin_delete_news',{'id' : news.id }) }}" title="Delete" class="button"
                                   onclick="return confirm('Are you sure you want to delete this item?');">
                                    <span class="glyphicon glyphicon-trash"></span></a></div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endif %}
{% endblock %}