{% extends '::base.html.twig' %}

{% block title %}My Funds{% endblock %}

{% block content %}

    <div class="container">
        <ol class="breadcrumb">
            <li class="active"><a href="{{ path('fos_user_profile_edit') }}">My Profile</a></li>
            <li class="active">My Funds</li>
        </ol>
        <div class="row">

        {% if pagination.getTotalItemCount > 0 %}
            <div class="panel panel-default">
            <div class="panel-heading">Funds</div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'ID', 'n.id') }}</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Last Updated</th>
                </tr>
                </thead>
                <tbody>
            {% for fund in pagination %}
            <tr>
                <th scope="row"><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}">{{ fund.id }}</a></th>
                <td><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}">{{ fund.code }}</a></td>
                <td><a href="{{ path('app_home_show_fund', {'id' : fund.id}) }}">{{ fund.content.name }}</a></td>
                <td>{{ fund.updatedAt|date('F j, Y') }}</td>
                <td>

                </td>
            </tr>
        {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
                <p>There are no funds</p>
            {% endif %}

        </div>
    </div>

{% endblock %}